body {
 
  background:  	#f1b183;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  /* color: #666; */
}

.container {
  flex: 1;
  height: 500px;
  width: 1100px;
  display: flex;
  border-style: solid;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 175px;
  margin-top: 55px;
  padding: 30px;
  position: relative;
}

.container::before {
  content: '';
  background-image: url(./🎔cat🎔.jpg);
  filter: blur(5px); /* Add the blur effect to the background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.login {
  flex: 1;
  position: 1;
  margin-left: 50px;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  justify-content: right;
  align-items: right;
  box-shadow: 1px 1px 1px #666;
  float: right;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #c1835a;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login input[type=submit] {
  border: none;
  background: #c1835a;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #c1835a;  
}

  .login h2 {
    margin: 20px 0 0; 
    color: #c1835a;
    font-size: 28px;
  }

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;    
  }

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.img_logo img{
  border-radius: 500px;
  height: 400px;
  width: 400px;
  opacity: 90%;
  filter: blur(0.1px);
  box-shadow: 2px 2px 2px #bebebe;
}
.search{
  padding: 1px 4px;
   border-style: solid;
   float: right;
   border-radius: 20px;
   background-image: url("search_icon.png");
 order:2;
 margin-top: 10px;
 margin-right: 3px;

}
.profile{
       float: right;
       order: 1;
       margin-right: 4px;
       border-radius: 20px;
}
  /* profile button */
  .profile .dropdwn {
    font-size: 10px;
    border: none;
    float: left;
    outline: none;
    color: black;
    padding: auto;
   padding: 2px 3px;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; 
    order: 1;
    border-radius: 50px;
    background-color: black;
    /* Important for vertical align on mobile phones */
  }
  .dropdwn img{
    margin-top: 2px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
  }
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .profile:hover .dropdwn {
    background-color: rgb(178, 153, 153);
  }
  
  /* profile content (hidden by default) */
  .dropdownconents{
    display:none;
    float: left;
    position: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the profile */
  .dropdownconents a {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to profile links on hover */
  .dropdownconents a:hover {
    background-color: #ddd;
    float: left;
  }
  
  /* Show the profile menu on hover */
  .profile:hover .dropdownconents {
    display: block;
    float: left;
  }
.search input{
    border-radius: 20px;
    
    padding: 7px 17px;
    background-color: white;
    order: 2;
}
.navbar{
    background-color: #44436f;
   border-radius: 30px;
   border-style: solid;
  

}
.navbar ul{
    overflow: auto;
   margin-left: 100px; 
}
.navbar li{
    
    float: left;
    list-style: none;
    padding: 5px;
    margin: 13px 13px;
    border-style: solid;
    margin-left: auto;
    border-radius: 30px;
    background-color: #BBAAB8;
  
    font-weight: bold;
    
}
.navbar li a{
    padding: auto;
    color: darkbrown;
    text-decoration: none;
}
    
  
text-decoration: none;
}
.navbar input{
    border:auto ;
}
.logo_container{
  position: relative;
  margin: -3px;
  
}
.logo_container img{
  position: absolute;
  border-radius: 300px;
  justify-content: center;
  opacity: 90%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  
}